* {
  box-sizing: border-box;
}

.mainCotainer {
  position: fixed;
  top: 20%;
  left: 32%;
  /* background-color: white; */
  /* margin: auto; */
  width: 30%;

  /* border: 3px solid #73ad21; */
}

.mainCotainer--heading {
  padding: 1px;
  text-align: center;
  color: white;
  margin-bottom: 8px;
  background-color: black;
  border-radius: 8px;
}

button {
  margin-top: 8px;
  padding: 10px;
  border-radius: 4px;
  /* background-color: red; */
  position: relative;
  top: 90%;
  left: 45%;
  border-color: blue;
  /* margin: auto; */
}
